<!-- <ul class="topnav">
  <button (click)="a1(1)">Registration</button>
  <button (click)='a1(2)'>WithEvents</button>
  <button (click)='a1(3)'>ForComp</button>
  <button (click)='a1(4)'>IfComp</button>
</ul>
<div *ngIf="Status1"><app-registration></app-registration></div>
<div *ngIf="Status2"><app-withevents></app-withevents></div>
<div *ngIf="Status3"><app-forcomp></app-forcomp></div>
<div *ngIf="Status4"><app-ifcomp></app-ifcomp></div> -->

<!-- <div><app-pipe></app-pipe></div> -->
<app-b></app-b>